body {
  background-color: #222222;
}

.square {
  width: 100px;
  height: 100px;
  background-color: gold;
  transition: background-color 0.5s;
  @starting-style {
    background-color: skyblue;
  }
}

.square.blue {
  background-color: blue;
}
