body {
  background-color: #222222;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #4e9acc;
  transition: all 2s ease-in-out;
}

.square:hover {
  transform: rotate(45deg);
  background-color: purple;
}